<strong>Recuperando Senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para oe-mail {{email}}. Se você não foi o author dessa requisição. Seria legal alterar sua senha.</p>
<p>Para continuar com a recuperação de senha, utilize o toke {{token}} ou clique no link abaixo.</p>

<a href="{{link}}" >Criar nova senha</a>
